body {
    width:100%;
    overflow-x: hidden;
    overflow-y: auto    ;
    margin:0;
    padding:0;
    body::-webkit-scrollbar {
        display: none !important;
    }
}

.menu {
    position: fixed !important;
    z-index:9 !important;
    bottom:13px;
    right:10px;
}

.dark-overlay {
    height:100vh;
    display: none;
    width: 100%;
    position:fixed;
    padding-top:20vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.767);
    top:0;
    ul {
        margin:0;
        li {
            font-size:40px;
            font-weight: 900;
            margin:20px;
        }
    }
}
.section {
    height: 100vh;
    margin:0;
    padding:30px;
}

.album-container {
    white-space: nowrap;
    overflow: auto;
    .card {
        display: inline-block;
        margin:4%;
        .card-reveal::-webkit-scrollbar {
            display: none !important;
        }
    }
}

.album-container::-webkit-scrollbar {
    display: none;
}

.subscribe-section {
    padding-top:20vh !important;    
}
.subscribe {
    margin: 10vh auto;
}
