body {
    width:100%;
    overflow: hidden;
    margin:0;
    padding:0;
}

.menu {
    position: fixed !important;
    bottom:13px;
    right:10px;
}
.darkoverlay {
    height:100vh;
    display: none;
    width: 100%;
    position:fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.562);
    top:0;
    ul {
        margin:0;
    }
}
.section {
    height: 100vh;
    margin:0;
    padding:30px;
}